body{
    margin: 0;
    background-color: rgb(223, 243, 131);
}
#wrap{
    display: flex;
    
}
#nav{
    width: 30%;
    float:left;
    background-color: rgb(130, 233, 199);
    height: 600px;
}
#content{
    width: 70%;
    float: right;
    background-color: rgb(161, 191, 236);
    height: 600px;
}