h1{
    text-align: center;
    background-color: black;
    border-radius: 15px;
    color: cornsilk;
}
h2{
    text-align: center;
}
p{
text-align: center;
}
 a {
    border-radius: 15px;
    padding: 10px;
    background-color: black;
    color: cornsilk;
}
div{
    text-align: center;

}
/* header section*/
img {
    border-radius: 360px;
}
body{
    text-align: center;
    background-color: antiquewhite;
}